<!DOCTYPE html>
<html>
  <head>
    <meta chartset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
  <style>
  body{
    font-family:"Pacifico";
    font-size:20px;
  }
  h1{
    margin-left:180px;
	margin-top:-3px;
  }
  div.a{
    background-color:#DFDFDF;
    padding-left:150px;
	padding-top:30px;
	padding-bottom:30px;
	margin-top:-20px;
  }
  a{ 
    padding:0 30px;
  }
  p.p1{
    font-size:40px;
	margin-top:-400px; 
	margin-left:330px; 
  }
  p.p2{
    font-size:30px;
	margin-top:-50px; 
	margin-left:540px; 
  }
  p{
    color:white;
  }
  </style>
  </head>
  <body>
    <header>
      <h1>旅行ブログ</h1>
    </header>
    <div class="a">
		<a href="/blog">ホーム</a>
		<a href="/profile">プロフィール</a>
		<a href="/blog">観光</a>
		<a href="/blog">写真</a>
		<a href="/feel">旅行の感じ</a>
		<a href="/blog_edit">編集</a>
    </div>
	<img src="../image/blog.webp">
	<p class="p1">意外な大自然ピクニックと豪華フォーシーステイ<p>
	<p class="p2">軽く自然に触れて散歩する<p>
  <body>
</html>
