<!DOCTYPE html>
<html>
  <head>
    <meta chartset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
  <style>
  body{
	font-size:20px;
    font-family:"Pacifico";
  }
  h1{
	margin-top:-3px;
    margin-left:180px;
  }
  div.a{
    max-width:100%;
    background-color:#DFDFDF;
	padding-top:25px;
	padding-left:150px;
	padding-bottom:25px;
	margin-top:-20px;
  }
  a{ 
    padding:0 30px;
  }
  img{
    max-width:100%;  
  }
  p.p1{
    font-size:36px;
	margin-top:-400px; 
	margin-left:360px; 
  }
  p.p2{
    font-size:30px;
	margin-top:-50px; 
	margin-left:570px; 
  }
  p{
    color:white;
  }
  </style>
  </head>
  <body>
    <header>
      <h1>旅行博客</h1>
    </header>
    <div class="a">
		<a href="/editor">博客编辑</a>
		<a href="/comment">博客评论</a>
    </div>
	<img src="../image/blog.webp">
	<p class="p1">意外な大自然ピクニックと豪華フォーシーステイ<p>
	<p class="p2">軽く自然に触れて散歩する<p>
  <body>
</html>
